extends layout

block content
  .typeTask__items.d-flex.flex-wrap.justify-content-around
    #taskProject.typeTask__item.col-lg-4.col-md-4.col-12
      a.typeTask__href(href='project/index.html', title='Перейти к объявлениям по проектированию')
        .typeTask__img
          span.typeTask__icon_project
        .typeTask__name Контакты нашей организации
        .typeTask__name +375....
        .typeTask__name +375....
        .typeTask__name +375....


