extends layout
block styles
  link(rel='stylesheet', href='/stylesheets/style_dragNdrop.css')
block scripts
  script('src' = "/javascripts/dragNdrop.js")
block content
  section#picturebox
      img#batterfly(src='/images/batterfly.jpg')
      img#korzina(src='/images/korzina.jpg')
      img#snow(src='/images/snow.jpg')
  section#dropbox Drag'n'drop image here
  div.clear