extends layout
block styles
  link(rel='stylesheet', href='/stylesheets/style_news.css')
block scripts
  script('src' = '/javascripts/news.js')
block content
  .taskDetail
    .taskDetailContent2
      .newsBut
        a.newsSiteUrl.selected(href="#", data-id="tut_by") Tut.by
        a.newsSiteUrl(href="#", data-id="belta_by") Belta.by
        a.newsSiteUrl(href="#", data-id="interfax_by") Interfax.by
        <br><br>
      #newsBlock
        ul
          each item in news
            if item.title
              li.links
                a(href="#{item.url}") #{item.time}. #{item.title}


    
